
/*Selector Universal: Reseteo */
*{
    margin:0px;
    padding:0px;
}

/*Codigo CSS */

/* Header */
.body__background
{
    background-color: yellow;
    background-size: 100%;
}

.cuadrado
{
    padding:30px;
    margin-bottom: 30px;
    background-color: #0000FF;
    border: solid 1px blue;
    background: linear-gradient(120deg, blue 40%, cyan);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    }

.esqudoLogo
    {
    width: 350px;
    height: 300px;
    margin-right: 40px;
    border-radius: 5%;
    }

.encabezadoHeader 
{
color: yellow;
text-align: center;
font-family: 'Russo One', sans-serif;
font-size: 60px;
margin-top: 60px;
}

.header__centerposition
{
    text-align: center;
}

.header__logo
{
    width: 500px;
    height: 300px;
}

.redes_icons--header{

    display: flex;
    justify-content: center;
    margin-top: 40px;
}

header label {
    display: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid yellow;
}

.animacion-h1
{
animation-name: flash;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes flash 
{

0% { 
opacity: 1;
    }
50% {
opacity: 0.4;
    }
100% { 
opacity: 1;
    }

}

#btn-menu{
    display: none;
}

.header__navegador
{
display: flex;
flex-direction: row;
text-align: center;
margin: 10px; padding: 2px; 
border: solid blue 1px;
font-size: 26px;   
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1px;
background-color: yellow;
}

.navbar_redes--header{
    display: flex;
    justify-content:space-around;
}

.redes_links--header
{
display: flex;
list-style-type: none;
justify-content: space-between;
}

.mainpicture--index{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    }

.footer_navegador
{
display: inline;
justify-content: start;
font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
margin: 12px;
}


#ejeCentral
{
    text-align: center;
}

.H2--Somos
{
    text-align: center;
    width: 100%;
}

.h2Slogan
{
    text-align: center;
    color: yellow;
    background-color: blue;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    word-spacing: 20px;
    margin-top: 100px;
}

.fotoPrincipal
{
    border-radius: 2%;
    width: 900px;
    height: 800px;
    padding: 10px;   
    
}

.carousel-foto-estilo
{
    border-radius: 8%;
    width: 1100px;
    height: 700px;
}

.contenedor-p
{
    width: 950px;
    height: 950px;
    text-align: center;
    padding: 10px;
    border: white;
}

.main__carousel
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.h2Servicios
{
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight:700;
    margin-top: 100px;
    margin-bottom: 50px;
}   

.h2Productos1
{
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight:700;
    margin-top: 180px;
    margin-bottom: 50px;
}  
.cardServicios
{   
    border-color: blue;
    border-width: 2px;
    border-radius: 8%;
}

.card
{
height: 413.09px;
margin-bottom: 50px;
}

.cuadrado--servicios
{
    padding:10px;
    background-color: #0000FF;
    border: solid 1px blue;
    color: white;
    background: linear-gradient(120deg, blue 40%, cyan);
}

.cuadrado--servicios-index
{
    padding:10px;
    margin: 2px;
    background-color: #0000FF;
    border: solid 1px blue;
    color: white;
    background: linear-gradient(120deg, blue 40%, cyan);
}

#somosEsqudo
{
    color: rgb(49, 49, 173);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    background-image: url(../imagenes/mallasdefondo2.jpg)  
    
}

.main__principalpicture
{
    border-radius: 8%;
    width: 800px;
    height: 500px;
    background-color: yellow;   
}


.textoFormulario
{
    color: blue;
    font-style: italic;
    font-weight: 50px;
    
}

.fontSomos
{
    font-family: 'Tourney', cursive;
    color: blue;
    font-weight: 700px;
    font-size: 80px;
    letter-spacing: 4px;
    margin-top: 70px;
    width: 100%;
}

.tableTitle
{
    color: blue;
    font-weight: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fontServicios
{
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#section1
{
    text-align: center;
    background-color: yellow
}

.section1-1
{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 5px;
}


#section2
{
    text-align: center;
    background-color: yellow
}

#section3
{
    text-align: center;
    background-color: yellow
}

#section4
{
    text-align: center;
    background-color: yellow
}

#section5
{
    text-align: right;
}

#section6
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.esqudoCopyright
{
    text-align: center;
    color: blue;
    font-size: 30px;
    margin-top: 40px;
    padding: 30px;
    background-color: yellow;
}

/* Código para menu desplegable*/

/* menu */

#menu ul 
{
    display: flex;
    justify-content: center;
    list-style:none;
    margin: 0;
    padding: 0;
}

/* items del menu */

#menu ul li 
{
    background-color:yellow;
}

/* enlaces del menu */

#menu ul a 
{
    display:block;
    color:blue;
    text-decoration:none;
    font-weight:400;
    font-size:26px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif
    letter-spacing 1px;
    }


/* items del menu */

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

/* efecto al pasar el puntero por los items del menu */

#menu ul li:hover 
{
    background:#5b78a7;
}

/* menu desplegable */

#menu ul ul 
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

   /* items del menu desplegable */

#menu ul ul li 
{
    float:none;
    width:150px
}

   /* enlaces de los items del menu desplegable */

#menu ul ul a 
{
    line-height:120%;
    padding:10px 15px;
}

   /* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul 
{
    display:block;
}

.fondo-ventanas
{
    background-color: yellow;
}

 /* items del menu desplegable productos */

/*.fondo-ventanas
{
    background-color: yellow
}*/

#estilos-ventanas 
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.fotosventanas-container-img 
{
overflow: hidden;
height: 650px;
}


.fotos-ventanas
{
    border: 3px solid white;
    border-radius: 8%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 25px;
    padding: 10px;
    width: 400px;
    height: 400px;
    object-fit:inherit
}

.fotosventanas-container-img:hover img{
    transform:scale(0.9,0.9);
} 

#section2-ventanas
{   margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: yellow
    
    
}

#section-servicios
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    margin-top: 0px
}

/* pagina para balcones*/


.fondo-balcones
{
    background-color: yellow
    
}

.fotosbalcones-container-img 
{
overflow: hidden;
height: 650px;
}


.fotos-balcones
{
    border: 3px solid white;
    border-radius: 8%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 25px;
    padding: 10px;
    width: 400px;
    height: 400px;   
    margin-left: 160px;
    padding: 50px;    
}

#estilo-balcones
{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.fotosbalcones-container-img:hover img{
    transform:scale(0.9,0.9);
} 



/*RESPONSIVIDAD*/

/* Desktop Styles */

@media (max-width: 1024px)
{

.cuadrado
{
    padding:50px;
    background-color: #0000FF;
    border: solid 1px blue;
    background: linear-gradient(120deg, blue 40%, cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    }

.cuadrado--servicios
{
    margin-top: 200px;
    background-color: #0000FF;
    border: solid 1px blue;
    color: white;
    background: linear-gradient(120deg, blue 40%, cyan);
    width: 100%;
    }


#section-servicios
{
    flex-direction: column;
    justify-content: center;
}

.esqudoLogo
{
    width: 300px;
    height: 300px;
    text-align: center;
}

#section6
{
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-left: 300px;

}

}

  /* Tablet Styles */

@media (max-width: 768px)
{
.encabezadoHeader
{
    font-size: 40px;
}

.body__background
{
    background-color: yellow;
    background-size: 100%;
}

.esqudoLogo
{
    width: 200px;
    height: 200px;
    margin-right: 40px;
    border-radius: 5%;
}

.mainpicture--index{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    }

.cuadrado
{
    padding:50px;
    background-color: #0000FF;
    border: solid 1px blue;
    background: linear-gradient(120deg, blue 40%, cyan);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    
    }


/*menu hamburguesa*/

header label {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    }

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu2 {
    position: absolute;
    background: yellow;
    width: 70%;
    margin-left: 0%;
    transition: all 0.5s;
}

.menu2 ul
{
flex-direction: column;
}

#btn-menu:checked ~.menu2 {
    margin:0; 
    
}    

.cuadrado--servicios--index
{
    margin-top: 200px;
    background-color: #0000FF;
    border: solid 1px blue;
    color: white;
    background: linear-gradient(120deg, blue 40%, cyan);
    width: 100%;
}

.cuadrado--servicios
{
    margin-top: 90px;
    background-color: #0000FF;
    border: solid 1px blue;
    color: white;
    background: linear-gradient(120deg, blue 40%, cyan);
    width: 100%;
}

.footer_navegador
{
display: flex;
flex-direction: column;
justify-content: start;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
margin: 10px;
}

.h2Servicios
{
    font-size: 40px;
    font-weight:500;
    margin-top: 100px;
    margin-bottom: 50px;
}  

#section-servicios
{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    padding: 10px
}

.card
{
    margin: 15px
}

.H2--Somos
{
    text-align: center;
    width: 100%;
}

.fontSomos
{
    font-family: 'Tourney', cursive;
    color: blue;
    font-weight: 600px;
    font-size: 60px;
    letter-spacing: 4px;
    margin-top: 70px;
    width: 100%;
}

.main__principalpicture
{
    border-radius: 8%;
    width: 633px;
    height: 500px;
    background-color: yellow;   
}

.footer_navegador
{
display: flex;
flex-direction: column;
justify-content: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
margin-left: 5px;
margin-bottom: 30px;
}

.esqudoCopyright
{
    padding: 80px;
    
}


#section6
{
    padding: 40px;
    margin-bottom: 150px;
    margin-top: 100px;
    width: 60px;
    height: 60px;
    margin-left: 300px;

}


.redes_links--header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 300px;
    margin-left: 0%;
}

#section-servicios
{
    flex-direction: column;
    justify-content: center;
}

.main__carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    border-radius: 8%;
    }

.contenedor-p
{
    width: 680px;
    height: 680px;
    text-align: center;
    padding: 10px;
    border: white;
}

#section6
{
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 170px;
    margin-bottom: 150px;
    
}

.esqudoLogo
{
    width: 250px;
    height: 200px;
    text-align: center;
}

#estilos-ventanas 
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#estilo-balcones
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

}


/* declaracion de mis variables para operaciones*/
$alto: 300px;
$margin: 1rem;
$background: blue;

.body__backgroundproducts
{
    background-color: $background;
}


.h2Productos
{
    text-align: center;
    color: yellow;
    background-color: blue;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 700;
    font-size: ($alto/3)-10;
    word-spacing: 20px;
    margin-top: 100px;
}

.text__Form
{
    color: blue;
    font-style: italic;
    font-weight: 50px;
    font-size: ($alto/8);
    margin-top: ($margin)*2;
    margin-bottom: ($margin)*1.5;
}

$redes:(
    facebook: rgb(39, 46, 149),
    twitter: white,
    youtube: red,
    );

@each $red, $color in $redes{

    .btn--#{$red}{

    background-color: $color;
    margin: 6px;
    padding: 6px;
    }
}

.h3servicios--styles{
    font-family:'Anton', sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: white;
    margin-top: 90px;
}

.h4_5_6servicios--styles{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: yellow; 
    margin-top: 60px;
}

.texth4_5_6--styles{
    font-family: 'Indie Flower' , cursive;
    font-size: 25px;
    color: white;
}

/* Mobile Styles */
@media (max-width: 480px)
{

.encabezadoHeader
{
    font-size: 30px;
}

.esqudoLogo
{
    width: 250px;
    height: 200px;
    margin-right: 20px;
    border-radius: 5%;
}

.cuadrado
{
    width: 100%;
    background-color: #0000FF;
    border: solid 1px blue;
    background: linear-gradient(120deg, blue 40%, cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    }

.redes_icons--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainpicture--index{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    }

.main__carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 110%; 
}

.contenedor-p
{
    width: 110%;
    text-align: center;
    padding: 10px;
    border: white;
    border-radius: 5%;
}

#section-servicios
{
    flex-direction: column;
    justify-content: center;
}

.cuadrado--servicios
{
    margin-top: 200px;
    background-color: #0000FF;
    border: solid 1px blue;
    color: white;
    background: linear-gradient(120deg, blue 40%, cyan);
    width: 120%;
}

#section2
{
    width: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 4px;
}


.h2Servicios
{
    margin: 20px

}

#somosEsqudo
{   
    margin-top: 30px;
    color: rgb(49, 49, 173);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 100%;
    background-image: url(../imagenes/mallasdefondo2.jpg)  
    
}

.main__principalpicture
{
    border-radius: 8%;
    width: 350px;
    height: 400px;
    background-color: yellow;   
}

#section6
{
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-left: 130px;
}

.h2Productos
{
    text-align: center;
    color: yellow;
    background-color: blue;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 500;
    font-size: ($alto/4)-10;
    word-spacing: 20px;
    margin-top: 100px;
}

#estilo-balcones
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;   
}

}

